
@charset "utf-8";                    // Character type for the stylesheet

// ITCSS: SETTINGS
@import "_var.sass";                 // Sass Variables - Does not effect page, but other Sass files reference this file.


// ITCSS: TOOLS
// @import "_mixins.sass";              // Sass Mixins - Does not effect page, but other Sass files reference this file.
// @import "_functions.sass";           // Sass Functions - Does not effect page, but other Sass files reference this file.


// ITCSS: RESETS - Remove inconsistencies in the way different browsers render elements by default
@import "../../node_modules/normalize.css/normalize";  // Normalize.css - Good for mobile and modern browsers


// ITCSS: FRAMEWORKS/THEMES


// ITCSS: PLUGINS
@import "../../node_modules/vue-good-table/dist/vue-good-table.css";


// ITCSS: GENERIC (ELEMENTS/BASE)
@import "_base.sass";                // h1, h2, h3, p, etc.
@import "_layout.sass";              // General layout classes, like .col-xs-4
// @import "_utility.sass";             // Utility classes, like .wrapper or .text-center


// ITCSS: OBJECTS - Grouped reusable chunks


// ITCSS: COMPONENTS - Component-specific styles


// ITCSS: CONTAINERS


// ITCSS: VIEWS
// @import "views/_home.sass"


// ITCSS: TRUMPS
// @import "_mediaqueries.sass";        // Adjusts the CSS of elements depending on browser or device resolution. Adaptive Web Design.
// @import "_trumps.sass";              // Use sparingly. These are meant to override above styles by using more specific selectors
// @import "_shame.sass";               // This is code you wrote to meet a deadline and need to come back and fix later
